################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Analogy.LogViewer.Intuitive/v17/.suo
/.vs/Analogy.LogViewer.Intuitive/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/Analogy.LogViewer.Intuitive/v17
/.vs/Analogy.LogViewer.Intuitive/FileContentIndex
