################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Analogy.LogViewer.Intuitive/v17/.suo
